.page-wrapper {
    background-color: #C3BABA;
    /* color: white; */
    /* font-family:'Courier New', Courier, monospace; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 2rem; */
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    /* font-weight: 600; */
}