.game-window {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
}

.block-text, span {
    font-size: 12px !important;
}

.game-scene {
    max-height: 400px;
    width: auto;
}

.game-scene img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-input-wrapper {
    width: 85%;
    max-width: 950px;
    margin: 0 auto;
}